 <%- include("header") -%>
    <%- include("about") -%>
    <div class="box" id="heading">
        <h1><%= kindofDay %> </h1>
    </div>
    

<div class="box">
    <% for (let i=0; i < newListItems.length; i++){  %> 
    <div class="item">
        <input type="checkbox" name="">
        <p><%= newListItems[i]  %></p>
    </div>
    
        <% } %>
    
    <form classs = "" action="/" method="post">
        <input type="text" name="newitem" placeholder="New Item" autocomplete="off"/>
        <button type="submit" name="button" value="<%= kindofDay %>">+</button>
    
    </form>
</div>
<%- include("footer") -%>






